streamlit
pandas
numpy
matplotlib
scikit-learn
statsmodels==0.14.1
scipy==1.12.0
plotly>=5.0
networkx
openpyxl
streamlit
openai>=1.0.0
streamlit-chat
gspread
google-auth
pygsheets
bcrypt
extruct
w3lib
lxml
transformers
torch
beautifulsoup4
requests
pycountry
streamlit-shadcn-ui>=0.1.4
geopandas
scikit-learn
folium
contextily
seaborn
pyproj
shapely
imageio
